<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
    <div class=".inner-screen">
        <div class="form">
            <form method="post" action="/authenticate_v2">
                <input type="text" placeholder="Enter your username" name="username"/>
                <input type="password" placeholder="Enter your password" name="password"/>
                <input type="submit" value="Login"/>
                <a href="">Forgot your password?</a>
            </form>
        </div>
    </div>

</body>
</html>